# Part One

# Question 1

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Question 2

In [3]:
NaN = 0
data = {'country_name':
        ['Afghanistan','Albania','Algeria','Andorra','Angola',
        'Antigua','Argentina','Armenia','Australia','Austria',
        'Azerbaijan','Bhamas','Bahrain','Bangladesh','Barbados','Belarus',
         'Belgium','Belize','Benin','Bhutan'],
       '<$1.90':['N/A','0.9%','0.5%','N/A','30.1%','N/A','0.6%','1.8%',
                '0.3%','0.7%','0.0%','N/A','N/A','14.8%','N/A','0.0',
                '0.0','14.9%','49.6%','1.5%'],
       '<$3.20':['N/A','4.5%','3.9%','N/A','55.7%','N/A','2.4%','14.1%',
                '0.7%','0.7%','0.0%','N/A','N/A','52.9%','N/A','0.0%',
                '0.2%','28.4%','76.2%','14.5%'],
       '<$5.50': ['N/A','28.8%','29.2%','N/A','79.4%','N/A','7.8%','43.5%',
                 '0.7%','0.9%','7.8%','N/A','N/A','84.5%','N/A','0.7%',
                 '0.2%','53.2%','90.6%','43.9%'],
       'year': [NaN,2015,2011,NaN,2008,NaN,2016,2016,2010,2015,2005,NaN,
               NaN,2016,NaN,2016,2015,1999,2015,2017],
       'continent':['Asia','Europe','Africa','Europe','Africa',
            'North America','South America','Europe','Oceania','Europe',
             'Europe','North America','Asia','Asia','North America',
                   'Europe','Europe','North America','Africa','Asia']}

# 3

In [4]:
MAC270 = pd.DataFrame(data,
                      columns=['country_name','<$1.90','<$3.20','<$5.50',
                              'year','continent'])

# 4

In [5]:
MAC270.shape

(20, 6)

# 5

In [6]:
MAC270.columns

Index(['country_name', '<$1.90', '<$3.20', '<$5.50', 'year', 'continent'], dtype='object')

# 6

In [7]:
for ind in range(0,len(MAC270)):
    print(MAC270['country_name'][ind])

Afghanistan
Albania
Algeria
Andorra
Angola
Antigua
Argentina
Armenia
Australia
Austria
Azerbaijan
Bhamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan

# 7

In [8]:
MAC270.head(3)

  country_name <$1.90 <$3.20 <$5.50  year continent
0  Afghanistan    N/A    N/A    N/A     0      Asia
1      Albania   0.9%   4.5%  28.8%  2015    Europe
2      Algeria   0.5%   3.9%  29.2%  2011    Africa

# 8

In [29]:
MAC270.tail()

,country_name,<$1.90,<$3.20,<$5.50,year,continent,new_col,Median_Male_Age
15,Belarus,0.0,0.0%,0.7%,2016,Europe,65,37
16,Belgium,0.0,0.2%,0.2%,2015,Europe,23,40
17,Belize,14.9%,28.4%,53.2%,1999,North America,45,22
18,Benin,49.6%,76.2%,90.6%,2015,Africa,67,18
19,Bhutan,1.5%,14.5%,43.9%,2017,Asia,78,28

# 9

In [30]:
new = [18,31,27,44,15,30,30,33,38,29,30,31,33,26,37,37,40,22,18,28]
MAC270['Median_Male_Age'] = new

In [31]:
MAC270.head(5)

  country_name <$1.90 <$3.20 <$5.50  year continent  new_col  Median_Male_Age
0  Afghanistan    N/A    N/A    N/A     0      Asia        2               18
1      Albania   0.9%   4.5%  28.8%  2015    Europe        3               31
2      Algeria   0.5%   3.9%  29.2%  2011    Africa        4               27
3      Andorra    N/A    N/A    N/A     0    Europe        3               44
4       Angola  30.1%  55.7%  79.4%  2008    Africa       21               15

In [35]:
MAC270['country_name'],['<$1.90']

(0     Afghanistan
 1         Albania
 2         Algeria
 3         Andorra
 4          Angola
 5         Antigua
 6       Argentina
 7         Armenia
 8       Australia
 9         Austria
 10     Azerbaijan
 11         Bhamas
 12        Bahrain
 13     Bangladesh
 14       Barbados
 15        Belarus
 16        Belgium
 17         Belize
 18          Benin
 19         Bhutan
 Name: country_name, dtype: object, ['<$1.90'])